<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Blackbird InstallSchemaGenerator Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_InstallSchemaGenerator
 * @copyright       Copyright (c) 2017 Blackbird (http://black.bird.eu)
 * @author          Blackbird Team
 * @license         https://www.store.bird.eu/license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Blackbird_InstallSchemaGenerator::main_menu" title="Install Schema Generator" sortOrder="100" />
                <resource id="Blackbird_InstallSchemaGenerator::retriever" title="Install Schema Retriever" sortOrder="200" />
            </resource>
        </resources>
    </acl>
</config>
