<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Blackbird_InstallSchemaGenerator::main_menu" title="Install Schema Generator" sortOrder="100" />
                <resource id="Blackbird_InstallSchemaGenerator::retriever" title="Install Schema Retriever" sortOrder="200" />
            </resource>
        </resources>
    </acl>
</config>