<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Blackbird InstallSchemaGenerator Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_InstallSchemaGenerator
 * @copyright       Copyright (c) 2017 Blackbird (https://black.bird.eu)
 * @author          Blackbird Team
 * @license         https://www.store.bird.eu/license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Blackbird_InstallSchemaGenerator::main_menu"
             title="Install Schema Generator"
             module="Blackbird_InstallSchemaGenerator"
             sortOrder="60"
             parent="Magento_Backend::system"
             resource="Magento_InstallSchemaGenerator::main_menu"/>
        <add id="Blackbird_InstallSchemaGenerator::retriever"
             title="Generate InstallSchema.php file"
             module="Blackbird_InstallSchemaGenerator"
             sortOrder="10"
             parent="Blackbird_InstallSchemaGenerator::main_menu"
             action="install_schema_generator"
             resource="Blackbird_InstallSchemaGenerator::retriever" />
    </menu>
</config>
